@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegible;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  body {
    @apply m-0 flex min-h-screen min-w-[320px];
  }

  #root {
    @apply w-full m-auto text-center;
  }
}
