@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegible;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  min-width: 320px;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
